


.contact-page{
    max-width: 700px;
    margin: 1rem auto;
    padding: 0 50px;
    @include sm{
        padding: 0 100px;
    }
    h2{
        font-family: $h-font;
        color: $brand-color;
        font-size: 5rem;
        margin-bottom: 0;
       white-space: pre-line;
        padding-bottom: 1rem;
        width: 200px;
        line-height: 6rem;
        @include sm{
            font-size: 5rem;
            margin-left: -100px;
            width: 300px;
        }
        @include lg{
            font-size: 7rem;
        }
    }
    p{
        font-size: 1.3rem;
    }
    em{
        text-align: center;
        font-size: 0.8rem;
    }

}


.social_links{
    ul{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        
        li{
            
            display: block;
            width: 100%;
            margin-bottom: 4px;
            position: relative;
            z-index: 3;

            &::after{
                content: "";
                display: block;
                position: absolute;
                width: 0;
                height: 100%;
                top: 0;
                left: 0;
                background-color: $link-color;
                z-index: 1;
                transition: width .5s ease-in-out;
                
            }
            &:hover{
                &::after{
                    width: 100%;
                    transition: width .5s ease-in-out;
                }
            }
                      
            a{
                padding: 1rem;
                font-size: 2rem;
                text-decoration: none;
                display: block;
                border: none;
               font-family: $h-font;
               transition: all 1s ease-in-out;
               border-left: 1px solid;
               position: relative;
               z-index: 3;
               
                
                &:hover{
                    color: #fff;
                    
                    transition: all .5s ease-in-out;
                    border-left: 1px solid;
                }
                
            }
        }
    }
}