




   <div class="the_content">
      <p class="main_p">Somethime in your career you have the opportunity to create something with no strings, just fun creativity and no hassle.</p>
      <p class="main_p">This was the case, I had a seat at the table in Bright Pixel and had been a part of a lot of decisions since day 1, and has creative director one thing I always wanted to try to create and manage is a brand system.</p>
      <p class="main_p">This was a job that did by heart, sometimes I couldn't dedicate the proper amount of time needed because the typical day to day stuff had priority, that's why in my head should be really simple and easy to create/recreate, independent of the final purpose (social media, invite, website, flyer..)</p>
      <p class="main_p">In this page I layout some of the many pieces that I create to try to illustrate how Bright Pixel presented itself.</p>
      <figure>
         <img class="top_image" 
         src="{{site.url}}/assets/img/work/brpx/anime.gif" 
         >
      </figure>
   </div>






   <div class="the_content">
      <h3>The Logo</h3>
      <p>The name set's the stage to the logo, and I wanted to be clear and straightforward.</p>
      <p>The 3 part brand was something that worked really well, only letter + letters and graphics + just graphics.</p>
         
         <p>Futura was a simple choice, for what it represents and for the design. If you add a "square" to illustrate the pixel in the name, you have the base. Then was just finding the balance bewin all of the parts.</p>
      <figure>
         <img class="top_image" 
         src="{{site.url}}/assets/img/work/{{ page.topimage }}.{{ page.topimageformat }}" 
         srcset="{{site.url}}/assets/img/work/{{ page.topimage }}.{{ page.topimageformat }} 1x, {{site.url}}/assets/img/work/{{ page.topimage }}@2x.{{ page.topimageformat }} 2x, {{site.url}}/assets/img/work/{{ page.topimage }}@3x.{{ page.topimageformat }} 3x"
         alt="{{ page.topimagealt}}"
         >
      </figure>
   </div>








