

   <div class="the_content">
      <p class="main_p">po spobh siuvbh sibvusbherursteh seirtubh esiubh d</p>
      <h3>titulo</h3>
      <p>cinteudo oij poj pij pipoi ib iou boibadfoi boiaefbvsoyv boersubvy ersoauybv aeruovby aeruybvearubv earubvyaeorubv aerouybvaeorbuvyearouvybearvbaeruovybaeroubvaerouybvaeoruybvaoeu yoaeb oaeybvaeourbvy aeouvybaeouv bj</p>
      <figure>
         <img class="top_image" 
         src="{{site.url}}/assets/img/work/{{ page.topimage }}.{{ page.topimageformat }}" 
         srcset="{{site.url}}/assets/img/work/{{ page.topimage }}.{{ page.topimageformat }} 1x, {{site.url}}/assets/img/work/{{ page.topimage }}@2x.{{ page.topimageformat }} 2x, {{site.url}}/assets/img/work/{{ page.topimage }}@3x.{{ page.topimageformat }} 3x"
         alt="{{ page.topimagealt}}"
         >
      </figure>
   </div>

   <div class="the_content">
      <p class="main_p">po spobh siuvbh sibvusbherursteh seirtubh esiubh d</p>
      <h3>titulo</h3>
      <p>cinteudo oij poj pij pipoi ib iou boibadfoi boiaefbvsoyv boersubvy ersoauybv aeruovby aeruybvearubv earubvyaeorubv aerouybvaeorbuvyearouvybearvbaeruovybaeroubvaerouybvaeoruybvaoeu yoaeb oaeybvaeourbvy aeouvybaeouv bj</p>
      <figure>
         <img class="top_image" 
         src="{{site.url}}/assets/img/work/{{ page.topimage }}.{{ page.topimageformat }}" 
         srcset="{{site.url}}/assets/img/work/{{ page.topimage }}.{{ page.topimageformat }} 1x, {{site.url}}/assets/img/work/{{ page.topimage }}@2x.{{ page.topimageformat }} 2x, {{site.url}}/assets/img/work/{{ page.topimage }}@3x.{{ page.topimageformat }} 3x"
         alt="{{ page.topimagealt}}"
         >
      </figure>
   </div>








