




   <div class="the_content">
      <p class="main_p">Somethime in your career you have the opportunity to create something with no strings, just fun creativity and no hassle.</p>
      <p class="main_p">This was the case, I had a seat at the table in Bright Pixel and had been a part of a lot of decisions since day 1, and has creative director one thing I always wanted to try to create and manage is a brand system.</p>
      <p class="main_p">This was a job that did by heart, sometimes I couldn't dedicate the proper amount of time needed because the typical day to day stuff had priority, that's why in my head should be really simple and easy to create/recreate, independent of the final purpose (social media, invite, website, flyer..)</p>
      <p class="main_p">In this page I layout some of the many pieces that I create to try to illustrate how Bright Pixel presented itself.</p>
      <figure>
         <img src="{{site.url}}/assets/img/work/brpx/anime.gif" >
      </figure>
   </div>





   <div class="the_logo inside_section">


      <div class="the_content">
         <h3>The Logo</h3>
         <p>The name set's the stage to the logo, and I wanted to be clear and straightforward.</p>
         <p>The 3 part brand was something that worked really well, only letter + letters and graphics + just graphics.</p>
   
            <figure>
               <figure>
                  <img src="{{site.url}}/assets/img/work/brpx/brand.svg" >
               </figure>
            </figure>

         <h3>Typography</h3>
            <p class="mb-2 mt-1">Futura was a simple choice, for what it represents and for the design. If you add a "square" to illustrate the pixel in the name, you have the base. Then was just finding the balance bewin all of the parts.</p>

            <div class="d-flex flex-column flex-sm-row">
               <figure class="p-2">
                  <img loading="lazy" 
                  src="{{site.url}}/assets/img/work/{{ page.content_template }}/page1.png" 
                  srcset="
                  {{site.url}}/assets/img/work/{{ page.content_template }}/page1.png 1x, 
                  {{site.url}}/assets/img/work/{{ page.content_template }}/page1@2x.png 2x
                  "
                  alt="Typography">
               </figure>
               <figure class="p-2">
                  <img loading="lazy" 
                  src="{{site.url}}/assets/img/work/{{ page.content_template }}/page2.png" 
                  srcset="
                  {{site.url}}/assets/img/work/{{ page.content_template }}/page2.png 1x, 
                  {{site.url}}/assets/img/work/{{ page.content_template }}/page2@2x.png 2x
                  "
                  alt="Typography">
               </figure>
               <figure class="p-2">
                  <img loading="lazy" 
                  src="{{site.url}}/assets/img/work/{{ page.content_template }}/page3.png" 
                  srcset="
                  {{site.url}}/assets/img/work/{{ page.content_template }}/page3.png 1x, 
                  {{site.url}}/assets/img/work/{{ page.content_template }}/page3@2x.png 2x
                  "
                  alt="Typography">
               </figure>
            </div>
      </div>

      


      <div class="the_content">
            <h3>Colors</h3>
            <p>The whole system was based in 5 colors, intense colors that will define almost all communication together a lot of black & white applications.

               

               </p>
               <p>The main was the red, just because it played really well in the beginning when we started to use the beautiful HQ in downtown Lisbon has a backdrop contrast with high tech products and services that we developed.</p>
               <p>Later on, I've started to incorporate the other colors plan and mixed in long, 2 or 3 colors degradees.</p>
            <figure class="p-2">
               <img loading="lazy"
               src="{{site.url}}/assets/img/work/{{ page.content_template }}/color.png" 
               srcset="
               {{site.url}}/assets/img/work/{{ page.content_template }}/color.png 1x, 
               {{site.url}}/assets/img/work/{{ page.content_template }}/color@2x.png 2x
               "
               alt="Colors">
            </figure>
            <figure class="p-2">
               <img loading="lazy"
               src="{{site.url}}/assets/img/work/{{ page.content_template }}/pattern.png" 
               srcset="
               {{site.url}}/assets/img/work/{{ page.content_template }}/pattern.png 1x, 
               {{site.url}}/assets/img/work/{{ page.content_template }}/pattern@2x.png 2x
               "
               alt="Colors">
            </figure>
      </div>

      <div class="d-flex flex-column flex-sm-row">
         <figure class="p-2">
            <img loading="lazy"
            src="{{site.url}}/assets/img/work/{{ page.content_template }}/team_blue.jpg" 
            srcset="
            {{site.url}}/assets/img/work/{{ page.content_template }}/team_blue.jpg 1x, 
            {{site.url}}/assets/img/work/{{ page.content_template }}/team_blue@2x.jpg 2x
            "
            alt="Colors">
         </figure>
         <figure class="p-2">
            <img loading="lazy"
            src="{{site.url}}/assets/img/work/{{ page.content_template }}/nest.jpg" 
            srcset="
            {{site.url}}/assets/img/work/{{ page.content_template }}/nest.jpg 1x, 
            {{site.url}}/assets/img/work/{{ page.content_template }}/nest@2x.jpg 2x
            "
            alt="Colors">
         </figure>
      </div>





      <div class="the_content">
         <h3>Print</h3>
         <p>All companies end up producing a lot of merchandise, we did the same and always was a mix of color/B&W, text, and photos.</p>
         <figure class="p-2">
            <img loading="lazy"
            src="{{site.url}}/assets/img/work/{{ page.content_template }}/print.jpg" 
            srcset="
            {{site.url}}/assets/img/work/{{ page.content_template }}/print.jpg 1x, 
            {{site.url}}/assets/img/work/{{ page.content_template }}/print@2x.jpg 2x
            "
            alt="Print">
         </figure>
      </div>
      <div class="d-flex flex-column flex-sm-row">
         <figure class="p-2">
            <img loading="lazy"
            src="{{site.url}}/assets/img/work/{{ page.content_template }}/flyer1.jpg" 
            srcset="
            {{site.url}}/assets/img/work/{{ page.content_template }}/flyer1.jpg 1x, 
            {{site.url}}/assets/img/work/{{ page.content_template }}/flyer1@2x.jpg 2x
            "
            alt="Colors">
         </figure>
         <figure class="p-2">
            <img loading="lazy" 
            src="{{site.url}}/assets/img/work/{{ page.content_template }}/flyer2.jpg" 
            srcset="
            {{site.url}}/assets/img/work/{{ page.content_template }}/flyer2.jpg 1x, 
            {{site.url}}/assets/img/work/{{ page.content_template }}/flyer2@2x.jpg 2x
            "
            alt="Colors">
         </figure>
         <figure class="p-2">
            <img loading="lazy" 
            src="{{site.url}}/assets/img/work/{{ page.content_template }}/flyer3.jpg" 
            srcset="
            {{site.url}}/assets/img/work/{{ page.content_template }}/flyer3.jpg 1x, 
            {{site.url}}/assets/img/work/{{ page.content_template }}/flyer3@2x.jpg 2x
            "
            alt="Colors">
         </figure>
      </div>
      <div class="the_content">
         <figure class="p-2">
            <img loading="lazy" 
            src="{{site.url}}/assets/img/work/{{ page.content_template }}/hoodie.png" 
            srcset="
            {{site.url}}/assets/img/work/{{ page.content_template }}/hoodie.png 1x, 
            {{site.url}}/assets/img/work/{{ page.content_template }}/hoodie@2x.png 2x
            "
            alt="Print">
         </figure>
      </div>






      <div class="the_content">
         <h3>Images</h3>
         <p>The use of images was always something that I sued to create an extra layer os texture and depth.</p>
            <p>Whether they were abstract or actual photos taken of the main subject of the message, they played a massive part in the Bright Pixel system.</p>
            <div class="d-flex flex-column flex-sm-row">
               <figure class="p-2">
                  <img loading="lazy" 
                  src="{{site.url}}/assets/img/work/{{ page.content_template }}/xmas1.jpg" 
                  srcset="
                  {{site.url}}/assets/img/work/{{ page.content_template }}/xmas1.jpg 1x, 
                  {{site.url}}/assets/img/work/{{ page.content_template }}/xmas1@2x.jpg 2x
                  "
                  alt="Images">
               </figure>
               <figure class="p-2">
                  <img loading="lazy" 
                  src="{{site.url}}/assets/img/work/{{ page.content_template }}/xmas2.jpg" 
                  srcset="
                  {{site.url}}/assets/img/work/{{ page.content_template }}/xmas2.jpg 1x, 
                  {{site.url}}/assets/img/work/{{ page.content_template }}/xmas2@2x.jpg 2x
                  "
                  alt="Images">
               </figure>
            </div>
      </div>

      <div class="d-flex flex-column flex-sm-row">
         <figure class="p-2">
            <img loading="lazy" 
            src="{{site.url}}/assets/img/work/{{ page.content_template }}/cover1.jpg" 
            srcset="
            {{site.url}}/assets/img/work/{{ page.content_template }}/cover1.jpg 1x, 
            {{site.url}}/assets/img/work/{{ page.content_template }}/cover1@2x.jpg 2x
            "
            alt="Images">
         </figure>
         <figure class="p-2">
            <img loading="lazy" 
            src="{{site.url}}/assets/img/work/{{ page.content_template }}/cover2.jpg" 
            srcset="
            {{site.url}}/assets/img/work/{{ page.content_template }}/cover2.jpg 1x, 
            {{site.url}}/assets/img/work/{{ page.content_template }}/cover2@2x.jpg 2x
            "
            alt="Images">
         </figure>
         <figure class="p-2">
            <img loading="lazy" 
            src="{{site.url}}/assets/img/work/{{ page.content_template }}/cover3.jpg" 
            srcset="
            {{site.url}}/assets/img/work/{{ page.content_template }}/cover3.jpg 1x, 
            {{site.url}}/assets/img/work/{{ page.content_template }}/cover3@2x.jpg 2x
            "
            alt="Images">
         </figure>
      </div>
      <div class="the_content">
            <div class="d-flex flex-column flex-sm-row">
               <figure class="p-2">
                  <img loading="lazy" 
                  src="{{site.url}}/assets/img/work/{{ page.content_template }}/print1.jpg" 
                  srcset="
                  {{site.url}}/assets/img/work/{{ page.content_template }}/print1.jpg 1x, 
                  {{site.url}}/assets/img/work/{{ page.content_template }}/print1@2x.jpg 2x
                  "
                  alt="Images">
               </figure>
            </div>
      </div>


      <div class="the_content">
         <h3>Website</h3>
         <p>The <a href="https://brpx.com">brpx.com</a> was a great playground, probably the company website that I had more freedom to pass it over a challenging message that explained what Bright  Pixel is.</p>

            <p>We've divided the communication into 4 different pillars: Labs, start-up, investment, and Talent.
            I used one color for each every time and maintained a lot of core elements that passed the idea that this was the Bright Pixel universe.</p>
            
            <p>The website has been redesigned, but the one that was live from 2017 > 2020 is the one that I want to leave the reference here..</p>
          
            <div class="d-flex flex-column flex-sm-row">
               <figure class="p-2">
                  <img loading="lazy" 
                  src="{{site.url}}/assets/img/work/{{ page.content_template }}/web1.jpg" 
                  srcset="
                  {{site.url}}/assets/img/work/{{ page.content_template }}/web1.jpg 1x, 
                  {{site.url}}/assets/img/work/{{ page.content_template }}/web1@2x.jpg 2x
                  "
                  alt="Website">
               </figure>
            </div>
      </div>

      <div class="d-flex flex-column flex-sm-row">
         <figure class="p-2">
            <img loading="lazy" 
            src="{{site.url}}/assets/img/work/{{ page.content_template }}/web2.jpg" 
            srcset="
            {{site.url}}/assets/img/work/{{ page.content_template }}/web2.jpg 1x, 
            {{site.url}}/assets/img/work/{{ page.content_template }}/web2@2x.jpg 2x
            "
            alt="Website">
         </figure>
         <figure class="p-2">
            <img loading="lazy" 
            src="{{site.url}}/assets/img/work/{{ page.content_template }}/web3.jpg" 
            srcset="
            {{site.url}}/assets/img/work/{{ page.content_template }}/web3.jpg 1x, 
            {{site.url}}/assets/img/work/{{ page.content_template }}/web3@2x.jpg 2x
            "
            alt="Website">
         </figure>
         <figure class="p-2">
            <img loading="lazy" 
            src="{{site.url}}/assets/img/work/{{ page.content_template }}/web5.jpg" 
            srcset="
            {{site.url}}/assets/img/work/{{ page.content_template }}/web5.jpg 1x, 
            {{site.url}}/assets/img/work/{{ page.content_template }}/web5@2x.jpg 2x
            "
            alt="Website">
         </figure>
      </div>
      <div class="d-flex flex-column flex-sm-row">
         <figure class="p-2">
            <img loading="lazy" 
            src="{{site.url}}/assets/img/work/{{ page.content_template }}/web4.jpg" 
            srcset="
            {{site.url}}/assets/img/work/{{ page.content_template }}/web4.jpg 1x, 
            {{site.url}}/assets/img/work/{{ page.content_template }}/web4@2x.jpg 2x
            "
            alt="Website">
         </figure>
         <figure class="p-2">
            <img loading="lazy" 
            src="{{site.url}}/assets/img/work/{{ page.content_template }}/web6.jpg" 
            srcset="
            {{site.url}}/assets/img/work/{{ page.content_template }}/web6.jpg 1x, 
            {{site.url}}/assets/img/work/{{ page.content_template }}/web6@2x.jpg 2x
            "
            alt="Website">
         </figure>
         <figure class="p-2">
            <img loading="lazy" 
            src="{{site.url}}/assets/img/work/{{ page.content_template }}/web7.jpg" 
            srcset="
            {{site.url}}/assets/img/work/{{ page.content_template }}/web7.jpg 1x, 
            {{site.url}}/assets/img/work/{{ page.content_template }}/web7@2x.jpg 2x
            "
            alt="Website">
         </figure>
      </div>



      <div class="the_content">
         <h3>Sub sites</h3>
         <p>We at Bright Pixel have made a lot of small websites in a project or some sub-brand under a particular topic.</p>

         <p>At the end of 2019, we made one where we asked for <a href="https://20by20.brpx.com">2020 trends</a>, hardly we knew what was going to happen in 2020, but for this purpose, I wanted to leave the visual reference of something that I think worked really well and demonstrate the full potential of the brand.</p>
      </div>
      <div class="d-flex flex-column flex-sm-row">
         <figure class="p-2">
            <img loading="lazy" 
            src="{{site.url}}/assets/img/work/{{ page.content_template }}/next3.jpg" 
            srcset="
            {{site.url}}/assets/img/work/{{ page.content_template }}/next3.jpg 1x, 
            {{site.url}}/assets/img/work/{{ page.content_template }}/next3@2x.jpg 2x
            "
            alt="Website">
         </figure>
         <figure class="p-2">
            <img loading="lazy" 
            src="{{site.url}}/assets/img/work/{{ page.content_template }}/next2.jpg" 
            srcset="
            {{site.url}}/assets/img/work/{{ page.content_template }}/next2.jpg 1x, 
            {{site.url}}/assets/img/work/{{ page.content_template }}/next2@2x.jpg 2x
            "
            alt="Website">
         </figure>
         <figure class="p-2">
            <img loading="lazy" 
            src="{{site.url}}/assets/img/work/{{ page.content_template }}/next-1.jpg" 
            srcset="
            {{site.url}}/assets/img/work/{{ page.content_template }}/next-1.jpg 1x, 
            {{site.url}}/assets/img/work/{{ page.content_template }}/next-1@2x.jpg 2x
            "
            alt="Website">
         </figure>
      </div>



      <div class="the_content">     
            <p class="mt-5">Another example was a program called "insert coin" that aimed to attract good ideas and good entrepreneurs that might fit the Bright Pixel investment verticals and had a presence in events, websites, and even a series of interviews. My role was to make a sub-brand that stood out, but they felt like it was part of the Bright Pixel system.</p>    
      </div>
      <div class="d-flex flex-column flex-sm-row">
         <figure class="p-2">
            <img loading="lazy"
            src="{{site.url}}/assets/img/work/{{ page.content_template }}/coin1.jpg" 
            srcset="
            {{site.url}}/assets/img/work/{{ page.content_template }}/coin1.jpg 1x, 
            {{site.url}}/assets/img/work/{{ page.content_template }}/coin1@2x.jpg 2x
            "
            alt="Website">
         </figure>
         <figure class="p-2">
            <img loading="lazy"
            src="{{site.url}}/assets/img/work/{{ page.content_template }}/coin2.jpg" 
            srcset="
            {{site.url}}/assets/img/work/{{ page.content_template }}/coin2.jpg 1x, 
            {{site.url}}/assets/img/work/{{ page.content_template }}/coin2@2x.jpg 2x
            "
            alt="Website">
         </figure>
         <figure class="p-2">
            <img loading="lazy"
            src="{{site.url}}/assets/img/work/{{ page.content_template }}/coin3.jpg" 
            srcset="
            {{site.url}}/assets/img/work/{{ page.content_template }}/coin3.jpg 1x, 
            {{site.url}}/assets/img/work/{{ page.content_template }}/coin3@2x.jpg 2x
            "
            alt="Website">
         </figure>
   </div>

   <div class="the_content">
      <h3>Social Media</h3>
      <p>In today's world, a brand has to navigate the social media waters to survive and make a statement.</p>

         <p>I've worked the different platforms under the same brand system, and the goal was to make the users identify a Bright Pixel post immediately out of the social feed.</p>
         
         <p>Here are four examples of the posts made on Instagram.</p>
       
         <div class="d-flex flex-column flex-sm-row">
            <figure class="p-2">
               <img loading="lazy"
               src="{{site.url}}/assets/img/work/{{ page.content_template }}/social1.jpg" 
               srcset="
               {{site.url}}/assets/img/work/{{ page.content_template }}/social1.jpg 1x, 
               {{site.url}}/assets/img/work/{{ page.content_template }}/social1@2x.jpg 2x
               "
               alt="social media">
            </figure>
            <figure class="p-2">
               <img loading="lazy"
               src="{{site.url}}/assets/img/work/{{ page.content_template }}/social2.jpg" 
               srcset="
               {{site.url}}/assets/img/work/{{ page.content_template }}/social2.jpg 1x, 
               {{site.url}}/assets/img/work/{{ page.content_template }}/social2@2x.jpg 2x
               "
               alt="social media">
            </figure>
         </div>
         <div class="d-flex flex-column flex-sm-row">
            <figure class="p-2">
               <img loading="lazy"
               src="{{site.url}}/assets/img/work/{{ page.content_template }}/social3.jpg" 
               srcset="
               {{site.url}}/assets/img/work/{{ page.content_template }}/social3.jpg 1x, 
               {{site.url}}/assets/img/work/{{ page.content_template }}/social3@2x.jpg 2x
               "
               alt="social media">
            </figure>
            <figure class="p-2">
               <img loading="lazy"
               src="{{site.url}}/assets/img/work/{{ page.content_template }}/social1.jpg" 
               srcset="
               {{site.url}}/assets/img/work/{{ page.content_template }}/social4.jpg 1x, 
               {{site.url}}/assets/img/work/{{ page.content_template }}/social4@2x.jpg 2x
               "
               alt="social media">
            </figure>
         </div>
   </div>


   <div class="the_content">  
      <h3>Invitations</h3>   
      <p>To finish this page, I wanted to show the Bright Pixel brand system's application in the event invitations. Something that I push more the visuals, and each piece had to live for itself in the hole system.</p>
   </div>

      <figure class="p-2">
         <img loading="lazy" 
         src="{{site.url}}/assets/img/work/{{ page.content_template }}/invite1.jpg" 
         srcset="
         {{site.url}}/assets/img/work/{{ page.content_template }}/invite1.jpg 1x, 
         {{site.url}}/assets/img/work/{{ page.content_template }}/invite1@2x.jpg 2x
         "
         alt="Invitations">
      </figure>
  
   <div class="d-flex flex-column flex-sm-row">
      <figure class="p-2">
         <img loading="lazy" 
         src="{{site.url}}/assets/img/work/{{ page.content_template }}/invite2.jpg" 
         srcset="
         {{site.url}}/assets/img/work/{{ page.content_template }}/invite2.jpg 1x, 
         {{site.url}}/assets/img/work/{{ page.content_template }}/invite2@2x.jpg 2x
         "
         alt="Invitations">
      </figure>
      <figure class="p-2">
         <img loading="lazy" 
         src="{{site.url}}/assets/img/work/{{ page.content_template }}/invite3.jpg" 
         srcset="
         {{site.url}}/assets/img/work/{{ page.content_template }}/invite3.jpg 1x, 
         {{site.url}}/assets/img/work/{{ page.content_template }}/invite3@2x.jpg 2x
         "
         alt="Invitations">
      </figure>

   </div>
   <div class="d-flex flex-column flex-sm-row">
      <figure class="p-2">
         <img loading="lazy" 
         src="{{site.url}}/assets/img/work/{{ page.content_template }}/invite4.jpg" 
         srcset="
         {{site.url}}/assets/img/work/{{ page.content_template }}/invite4.jpg 1x, 
         {{site.url}}/assets/img/work/{{ page.content_template }}/invite4@2x.jpg 2x
         "
         alt="Invitations">
      </figure>
      <figure class="p-2">
         <img loading="lazy" 
         src="{{site.url}}/assets/img/work/{{ page.content_template }}/invite6.jpg" 
         srcset="
         {{site.url}}/assets/img/work/{{ page.content_template }}/invite6.jpg 1x, 
         {{site.url}}/assets/img/work/{{ page.content_template }}/invite6@2x.jpg 2x
         "
         alt="Invitations">
      </figure>
      <figure class="p-2">
         <img loading="lazy" 
         src="{{site.url}}/assets/img/work/{{ page.content_template }}/invite7.jpg" 
         srcset="
         {{site.url}}/assets/img/work/{{ page.content_template }}/invite7.jpg 1x, 
         {{site.url}}/assets/img/work/{{ page.content_template }}/invite7@2x.jpg 2x
         "
         alt="Invitations">
      </figure>
   </div>
   <div class="d-flex flex-column flex-sm-row">
      <figure class="p-2">
         <img loading="lazy" 
         src="{{site.url}}/assets/img/work/{{ page.content_template }}/invite8.jpg" 
         srcset="
         {{site.url}}/assets/img/work/{{ page.content_template }}/invite8.jpg 1x, 
         {{site.url}}/assets/img/work/{{ page.content_template }}/invite8@2x.jpg 2x
         "
         alt="Invitations">
      </figure>
      <figure class="p-2">
         <img loading="lazy" 
         src="{{site.url}}/assets/img/work/{{ page.content_template }}/invite9.jpg" 
         srcset="
         {{site.url}}/assets/img/work/{{ page.content_template }}/invite9.jpg 1x, 
         {{site.url}}/assets/img/work/{{ page.content_template }}/invite9@2x.jpg 2x
         "
         alt="Invitations">
      </figure>
      <figure class="p-2">
         <img loading="lazy" 
         src="{{site.url}}/assets/img/work/{{ page.content_template }}/invite10.jpg" 
         srcset="
         {{site.url}}/assets/img/work/{{ page.content_template }}/invite10.jpg 1x, 
         {{site.url}}/assets/img/work/{{ page.content_template }}/invite10@2x.jpg 2x
         "
         alt="Invitations">
      </figure>
   </div>
   </div>







   </div>








