<div class="the_content top_head d-flex flex-column flex-sm-row">
   <div class="pt-5"> 
      <p class="main_p">At the Ethereum Foundation, I worked on several key initiatives to improve the ecosystem's digital presence and user experience.</p>
   </div>
</div>

<div class="the_content">
   <h3>ethereum.org</h3>
   <p>Description of your work on ethereum.org...</p>
   <div class="d-flex flex-column flex-sm-row">
      <figure class="p-2">
         <img 
         src="{{site.url}}/assets/img/work/{{ page.content_template }}/eth_org1.jpg" 
         srcset="
         {{site.url}}/assets/img/work/{{ page.content_template }}/eth_org1.jpg 1x, 
         {{site.url}}/assets/img/work/{{ page.content_template }}/eth_org1@2x.jpg 2x
         "
         alt="ethereum.org website">
      </figure>
   </div>
</div>

<div class="the_content">
   <h3>ethereum.org Design System</h3>
   <p>Details about the design system development...</p>
   <div class="d-flex flex-column flex-sm-row">
      <figure class="p-2">
         <img 
         src="{{site.url}}/assets/img/work/{{ page.content_template }}/design_system1.jpg" 
         srcset="
         {{site.url}}/assets/img/work/{{ page.content_template }}/design_system1.jpg 1x, 
         {{site.url}}/assets/img/work/{{ page.content_template }}/design_system1@2x.jpg 2x
         "
         alt="Design System components">
      </figure>
   </div>
</div>

<div class="the_content">
   <h3>ethereum.org Community</h3>
   <p>Information about community initiatives and engagement...</p>
   <div class="d-flex flex-column flex-sm-row">
      <figure class="p-2">
         <img 
         src="{{site.url}}/assets/img/work/{{ page.content_template }}/community1.jpg" 
         srcset="
         {{site.url}}/assets/img/work/{{ page.content_template }}/community1.jpg 1x, 
         {{site.url}}/assets/img/work/{{ page.content_template }}/community1@2x.jpg 2x
         "
         alt="Community engagement">
      </figure>
   </div>
</div>

<div class="the_content">
   <h3>Collaboration with Other Teams</h3>
   <p>Details about cross-team collaborations and projects...</p>
   <div class="d-flex flex-column flex-sm-row">
      <figure class="p-2">
         <img 
         src="{{site.url}}/assets/img/work/{{ page.content_template }}/collab1.jpg" 
         srcset="
         {{site.url}}/assets/img/work/{{ page.content_template }}/collab1.jpg 1x, 
         {{site.url}}/assets/img/work/{{ page.content_template }}/collab1@2x.jpg 2x
         "
         alt="Team collaboration">
      </figure>
   </div>
</div>

<div class="the_content">
   <h3>ETHproofs Application</h3>
   <p>Description of the ETHproofs application project...</p>
   <div class="d-flex flex-column flex-sm-row">
      <figure class="p-2">
         <img 
         src="{{site.url}}/assets/img/work/{{ page.content_template }}/ethproofs1.jpg" 
         srcset="
         {{site.url}}/assets/img/work/{{ page.content_template }}/ethproofs1.jpg 1x, 
         {{site.url}}/assets/img/work/{{ page.content_template }}/ethproofs1@2x.jpg 2x
         "
         alt="ETHproofs application">
      </figure>
   </div>
</div> 