




   <div class="the_content">
      <p class="main_p">MEO Cloud was a virtual drive, Dropbox-like competitor for the local market.</p>
      <p class="main_p">It had similar functionalities like all virtual drives (dropbox, one drive, google drive, etc.) with local sync for macOS, Windows, and Linux. Mobile Clients for IOs, Android, and Windows Mobile. The version that was unique to MEO Cloud was an IPTV app.</p>
      <p class="main_p">I was the lead designer from the beginning. I was in charge of everything related to the user that goes from experience, functionalities, and visuals.</p>
      <div class="d-flex flex-column flex-sm-row">
         <figure class="p-2">
            <img 
            src="{{site.url}}/assets/img/work/{{ page.content_template }}/home2.jpg" 
            srcset="
            {{site.url}}/assets/img/work/{{ page.content_template }}/home2.jpg 1x, 
            {{site.url}}/assets/img/work/{{ page.content_template }}/home2@2x.jpg 2x
            "
            alt="Meo CLoud homepage">
         </figure>
      </div>
   </div>
   <div class="d-flex flex-column flex-sm-row w-100">
      <figure class="p-2 w-100">
         <img 
         src="{{site.url}}/assets/img/work/{{ page.content_template }}/in_desktop.png" 
         srcset="
         {{site.url}}/assets/img/work/{{ page.content_template }}/in_desktop.png 1x, 
         {{site.url}}/assets/img/work/{{ page.content_template }}/in_desktop@2x.png 2x
         "
         alt="Colors">
      </figure>
      <figure class="p-2 w-100">
         <img 
         src="{{site.url}}/assets/img/work/{{ page.content_template }}/in_mobile.png" 
         srcset="
         {{site.url}}/assets/img/work/{{ page.content_template }}/in_mobile.png 1x, 
         {{site.url}}/assets/img/work/{{ page.content_template }}/in_mobile@2x.png 2x
         "
         alt="Colors">
      </figure>
   </div>
   <div class="d-flex flex-column flex-sm-row w-100">
      <figure class="w-100">
         <img 
         src="{{site.url}}/assets/img/work/{{ page.content_template }}/in_tablet.png" 
         srcset="
         {{site.url}}/assets/img/work/{{ page.content_template }}/in_tablet.png 1x, 
         {{site.url}}/assets/img/work/{{ page.content_template }}/in_tablet@2x.png 2x
         "
         alt="Colors">
      </figure>
      <figure class="w-100">
         <img 
         src="{{site.url}}/assets/img/work/{{ page.content_template }}/in_tv.png" 
         srcset="
         {{site.url}}/assets/img/work/{{ page.content_template }}/in_tv.png 1x, 
         {{site.url}}/assets/img/work/{{ page.content_template }}/in_tv@2x.png 2x
         "
         alt="Colors">
      </figure>
   </div>

   <div class="the_content">
      <h3>The experience</h3>
      <div class="d-flex flex-column flex-sm-row w-100">
         <figure class="p-2 w-100">
            <img 
            src="{{site.url}}/assets/img/work/{{ page.content_template }}/wallpaper.jpg" 
            srcset="
            {{site.url}}/assets/img/work/{{ page.content_template }}/wallpaper.jpg 1x, 
            {{site.url}}/assets/img/work/{{ page.content_template }}/wallpaper@2x.jpg 2x
            "
            alt="Colors">
         </figure>
      </div>
      <p>When I got to start on this project, I was finishing another service for the MEO broadcast brand. It was in a group of services that believed to give value to the simple TV + internet subscription.</p>
      <p>For us, at SAPO, it was the natural way to create a product. We saw the trend, we believe we could do it, and we got the resources to do it. The Team was one of the best I've ever worked with, only with them could be possible to build this.</p>
      <p>My role at the start was research, a lot of it. Most of us use these services but have no idea how hard it is to deal with people's files and small things that happen.</p>
      <p>The other side was to communicate how this kind of service works to a mutch broad audience that does not have a lot of digital skills. This service had primetime attention at the time.</p>
      <p>The result was pretty good, we made service as good or better than dropbox, with some features that no one ha at the time like a password on links, upload to a folder, or a TV client.</p>
      <p>When I left SAPO, we had more than 1M new files daily, 365K users, and more than 635TB of space. Please have in mind that the MEO Cloud was launched only in Portugal, and we have a population of 10M.</p>
   </div>



   <div class="the_content">
      <h3>The website</h3>
      <div class="d-flex flex-column flex-sm-row w-100">
         <figure class="p-2 w-100">
            <img 
            src="{{site.url}}/assets/img/work/{{ page.content_template }}/wallpaper.jpg" 
            srcset="
            {{site.url}}/assets/img/work/{{ page.content_template }}/wallpaper.jpg 1x, 
            {{site.url}}/assets/img/work/{{ page.content_template }}/wallpaper@2x.jpg 2x
            "
            alt="Colors">
         </figure>
      </div>
      <p>When I got to start on this project, I was finishing another service for the MEO broadcast brand. It was in a group of services that believed to give value to the simple TV + internet subscription.</p>
      <p>For us, at SAPO, it was the natural way to create a product. We saw the trend, we believe we could do it, and we got the resources to do it. The Team was one of the best I've ever worked with, only with them could be possible to build this.</p>
      <p>My role at the start was research, a lot of it. Most of us use these services but have no idea how hard it is to deal with people's files and small things that happen.</p>
      <p>The other side was to communicate how this kind of service works to a mutch broad audience that does not have a lot of digital skills. This service had primetime attention at the time.</p>
      <p>The result was pretty good, we made service as good or better than dropbox, with some features that no one ha at the time like a password on links, upload to a folder, or a TV client.</p>
      <p>When I left SAPO, we had more than 1M new files daily, 365K users, and more than 635TB of space. Please have in mind that the MEO Cloud was launched only in Portugal, and we have a population of 10M.</p>
   </div>
   









