




   <div class="the_content">
      <p class="main_p">Bright Pixel was commissioned to re-make the Portuguese Participatory Budget web app for 2018 and the next years.</p>
      <p class="main_p">My role was Lead Designer and Project Manager in the sense that we put up a small team to do this task, and I got to deal with the client and manage the developers' work.</p>
      <div class="d-flex flex-column flex-sm-row">
         <figure class="p-2">
            <img 
            src="{{site.url}}/assets/img/work/{{ page.content_template }}/a41.jpg" 
            srcset="
            {{site.url}}/assets/img/work/{{ page.content_template }}/a41.jpg 1x, 
            {{site.url}}/assets/img/work/{{ page.content_template }}/a41@2x.jpg 2x
            "
            alt="Typography">
         </figure>
         <figure class="p-2">
            <img 
            src="{{site.url}}/assets/img/work/{{ page.content_template }}/a42.jpg" 
            srcset="
            {{site.url}}/assets/img/work/{{ page.content_template }}/a42.jpg 1x, 
            {{site.url}}/assets/img/work/{{ page.content_template }}/a42@2x.jpg 2x
            "
            alt="Typography">
         </figure>
      </div>
      <p class="mt-5">On the design side, the primary goals were to improve the old navigation and take a new approach in presenting the projects on the website and facilitating the voting system.</p>
      <p>The concept was to have a one-page site with all the essential information strait on the homepage because this way, we push the content to be more transparent and more focused and reduce the hassle to know how it works thru many pages.</p>
      <p>The approach in the projects was to give a more "Kickstarter" like kind of feel. Something that did not exist before, and with carefully chosen icons, we marked a more playful platform that helped the proposed budget ideas stood out.</p>
      <p>The brand guidelines already existed, but I manage to present some variations of the design, and the client ends up choosing a red-based scheme with Brandon Grotesque with the main font.</p>
      <figure class="p-2">
         <img 
         src="{{site.url}}/assets/img/work/{{ page.content_template }}/desktop.jpg" 
         srcset="
         {{site.url}}/assets/img/work/{{ page.content_template }}/desktop.jpg 1x, 
         {{site.url}}/assets/img/work/{{ page.content_template }}/desktop@2x.jpg 2x
         "
         alt="website">
      </figure>
   </div>

   <div class="d-flex flex-column flex-sm-row">
    
      <figure class="p-2">
         <img 
         src="{{site.url}}/assets/img/work/{{ page.content_template }}/proj.jpg" 
         srcset="
         {{site.url}}/assets/img/work/{{ page.content_template }}/proj.jpg 1x, 
         {{site.url}}/assets/img/work/{{ page.content_template }}/proj@2x.jpg 2x
         "
         alt="website">
      </figure>
      <figure class="p-2">
         <img 
         src="{{site.url}}/assets/img/work/{{ page.content_template }}/pageform.jpg" 
         srcset="
         {{site.url}}/assets/img/work/{{ page.content_template }}/pageform.jpg 1x, 
         {{site.url}}/assets/img/work/{{ page.content_template }}/pageform@2x.jpg 2x
         "
         alt="website">
      </figure>
   
   </div>
   
   <div class="d-flex flex-column flex-sm-row">
      <figure class="p-2">
         <img 
         src="{{site.url}}/assets/img/work/{{ page.content_template }}/list.jpg" 
         srcset="
         {{site.url}}/assets/img/work/{{ page.content_template }}/list.jpg 1x, 
         {{site.url}}/assets/img/work/{{ page.content_template }}/list@2x.jpg 2x
         "
         alt="website">
      </figure>
      <figure class="p-2">
         <img 
         src="{{site.url}}/assets/img/work/{{ page.content_template }}/winners.jpg" 
         srcset="
         {{site.url}}/assets/img/work/{{ page.content_template }}/winners.jpg 1x, 
         {{site.url}}/assets/img/work/{{ page.content_template }}/winners@2x.jpg 2x
         "
         alt="website">
      </figure>
   </div>

   
   <div class="the_content">
      <div class="d-flex flex-column flex-sm-row">
         <figure class="p-2">
            <img 
            src="{{site.url}}/assets/img/work/{{ page.content_template }}/home-1.jpg" 
            srcset="
            {{site.url}}/assets/img/work/{{ page.content_template }}/home-1.jpg 1x, 
            {{site.url}}/assets/img/work/{{ page.content_template }}/home-1@2x.jpg 2x
            "
            alt="Mobile website">
         </figure>
         <figure class="p-2">
            <img 
            src="{{site.url}}/assets/img/work/{{ page.content_template }}/proj_m.jpg" 
            srcset="
            {{site.url}}/assets/img/work/{{ page.content_template }}/proj_m.jpg 1x, 
            {{site.url}}/assets/img/work/{{ page.content_template }}/proj_m@2x.jpg 2x
            "
            alt="Mobile website">
         </figure>
   
         <figure class="p-2">
            <img 
            src="{{site.url}}/assets/img/work/{{ page.content_template }}/list-1.jpg" 
            srcset="
            {{site.url}}/assets/img/work/{{ page.content_template }}/list-1.jpg 1x, 
            {{site.url}}/assets/img/work/{{ page.content_template }}/list-1@2x.jpg 2x
            "
            alt="Mobile website">
         </figure>
         <figure class="p-2">
            <img 
            src="{{site.url}}/assets/img/work/{{ page.content_template }}/winners-1.jpg" 
            srcset="
            {{site.url}}/assets/img/work/{{ page.content_template }}/winners-1.jpg 1x, 
            {{site.url}}/assets/img/work/{{ page.content_template }}/winners-1@2x.jpg 2x
            "
            alt="Mobile website">
         </figure>
      </div>
      <figure class="p-2">
         <img src="{{site.url}}/assets/img/work/{{ page.content_template }}/icons.svg"  alt="Areas icons">
      </figure>

   </div>


   







   </div>








