

   <div class="the_content">
      <p class="main_p">We at Bright Pixel have worked closely with Público, one of the major newspapers in Portugal.</p>
      <p class="main_p">This time they reach us to develop two mobile applications, both for iOS and Android.</p>
      <p class="main_p">One was to remake the main application from the ground up, and the other was an experience with local news and natural language processing.</p>
      <p class="main_p">On this page, I will try to describe the process behind the challenge: re-think and redesign a news mobile application that could have a significant impact on the business and user experience.</p>
   </div>

   <div class="the_content">
      <h3>Concept</h3>
      <p>Working with a prominent newspaper like Público, it's working in a thin line of balance between the commercial and editorial sides. They will be de decision-makers in the process.</p>
      <p>When I lead a project and work closely with the product owners, I like to start with brainstorming sessions, sometimes close to design sprints, to try to get everyone in the same level field.</p>
      <p>In this case, it took me a couple of visual concepts to try to set the application's mood/style/voice.</p>
      <p>We knew that this, with a clear goal form both sides of the decision, would kickstart all the work.</p>
      <figure class="p-2 w-100">
         <img 
         src="{{site.url}}/assets/img/work/{{ page.content_template }}/concept1.jpg" 
         srcset="
         {{site.url}}/assets/img/work/{{ page.content_template }}/concept1.jpg 1x, 
         {{site.url}}/assets/img/work/{{ page.content_template }}/concept1@2x.jpg 2x
         "
         alt="concepts">
      </figure>
      <figure class="p-2 w-100">
         <img 
         src="{{site.url}}/assets/img/work/{{ page.content_template }}/concept2.jpg" 
         srcset="
         {{site.url}}/assets/img/work/{{ page.content_template }}/concept2.jpg 1x, 
         {{site.url}}/assets/img/work/{{ page.content_template }}/concept2@2x.jpg 2x
         "
         alt="concepts">
      </figure>
   </div>

   <div class="the_content">
      <h3>Wireframes</h3>
      <p>The wireframe in this project where particularly relevant to lay down the complexity of screens and variations of news cards there are in the application.</p>
      <p>After working close to the internal team that created the API that serves the website, I had to build a system that would mirror the same approach to mobile applications.</p>
 
   </div>

   <div class="d-flex flex-column flex-sm-row">
      <figure class="p-2 w-100">
         <img 
         src="{{site.url}}/assets/img/work/{{ page.content_template }}/wireframes.jpg" 
         srcset="
         {{site.url}}/assets/img/work/{{ page.content_template }}/wireframes.jpg 1x, 
         {{site.url}}/assets/img/work/{{ page.content_template }}/wireframes@2x.jpg 2x
         "
         alt="wireframes">
      </figure>
   </div>

   <div class="the_content p-5">
      <p>At the end of this phase, we started to play with some animations that roughly brought some feeling what tour be liker to navigate in the application.</p>
      <figure class="p-2 w-100">
         <img 
         src="{{site.url}}/assets/img/work/{{ page.content_template }}/flow1.jpg" 
         srcset="
         {{site.url}}/assets/img/work/{{ page.content_template }}/flow1.jpg 1x, 
         {{site.url}}/assets/img/work/{{ page.content_template }}/flow1@2x.jpg 2x
         "
         alt="wireframes">
      </figure>
   </div>


