

   <div class="the_content">
      <p class="main_p">We at Bright Pixel have worked closely with Público, one of the major newspapers in Portugal.</p>
      <p class="main_p">This time they reach us to develop two mobile applications, both for iOS and Android.</p>
      <p class="main_p">One was to remake the main application from the ground up, and the other was an experience with local news and natural language processing.</p>
      <p class="main_p">On this page, I will try to describe the process behind the challenge: re-think and redesign a news mobile application that could have a significant impact on the business and user experience.</p>
   </div>

   <div class="the_content">

      <h3>titulo</h3>
      <p>cinteudo oij poj pij pipoi ib iou boibadfoi boiaefbvsoyv boersubvy ersoauybv aeruovby aeruybvearubv earubvyaeorubv aerouybvaeorbuvyearouvybearvbaeruovybaeroubvaerouybvaeoruybvaoeu yoaeb oaeybvaeourbvy aeouvybaeouv bj</p>
      <figure>
         <img class="top_image" 
         src="{{site.url}}/assets/img/work/{{ page.topimage }}.{{ page.topimageformat }}" 
         srcset="{{site.url}}/assets/img/work/{{ page.topimage }}.{{ page.topimageformat }} 1x, {{site.url}}/assets/img/work/{{ page.topimage }}@2x.{{ page.topimageformat }} 2x, {{site.url}}/assets/img/work/{{ page.topimage }}@3x.{{ page.topimageformat }} 3x"
         alt="{{ page.topimagealt}}"
         >
      </figure>
   </div>








