

   <div class="the_content">
      <p class="main_p">We at Bright Pixel have worked closely with Público, one of the major newspapers in Portugal.</p>
      <p class="main_p">This time they reach us to develop two mobile applications, both for iOS and Android.</p>
      <p class="main_p">One was to remake the main application from the ground up, and the other was an experience with local news and natural language processing.</p>
      <p class="main_p">On this page, I will try to describe the process behind the challenge: re-think and redesign a news mobile application that could have a significant impact on the business and user experience.</p>
   </div>

   <div class="the_content">
      <h3>Concept</h3>
      <p>Working with a prominent newspaper like Público, it's working in a thin line of balance between the commercial and editorial sides. They will be de decision-makers in the process.</p>
      <p>When I lead a project and work closely with the product owners, I like to start with brainstorming sessions, sometimes close to design sprints, to try to get everyone in the same level field.</p>
      <p>In this case, it took me a couple of visual concepts to try to set the application's mood/style/voice.</p>
      <p>We knew that this, with a clear goal form both sides of the decision, would kickstart all the work.</p>
      <figure class="p-2 w-100">
         <img 
         src="{{site.url}}/assets/img/work/{{ page.content_template }}/concept1.jpg" 
         srcset="
         {{site.url}}/assets/img/work/{{ page.content_template }}/concept1.jpg 1x, 
         {{site.url}}/assets/img/work/{{ page.content_template }}/concept1@2x.jpg 2x
         "
         alt="concepts">
      </figure>
      <figure class="p-2 w-100">
         <img 
         src="{{site.url}}/assets/img/work/{{ page.content_template }}/concept2.jpg" 
         srcset="
         {{site.url}}/assets/img/work/{{ page.content_template }}/concept2.jpg 1x, 
         {{site.url}}/assets/img/work/{{ page.content_template }}/concept2@2x.jpg 2x
         "
         alt="concepts">
      </figure>
   </div>

   <div class="the_content">
      <h3>Wireframes</h3>
      <p>The wireframe in this project where particularly relevant to lay down the complexity of screens and variations of news cards there are in the application.</p>
      <p>After working close to the internal team that created the API that serves the website, I had to build a system that would mirror the same approach to mobile applications.</p>
 
   </div>

   <div class="d-flex flex-column flex-sm-row">
      <figure class="p-2 w-100">
         <img 
         src="{{site.url}}/assets/img/work/{{ page.content_template }}/wireframes.jpg" 
         srcset="
         {{site.url}}/assets/img/work/{{ page.content_template }}/wireframes.jpg 1x, 
         {{site.url}}/assets/img/work/{{ page.content_template }}/wireframes@2x.jpg 2x
         "
         alt="wireframes">
      </figure>
   </div>

   <div class="the_content p-5">
      <p>At the end of this phase, we started to play with some animations that roughly brought some feeling what tour be liker to navigate in the application.</p>
      <figure class="p-2 w-100">
         <img 
         src="{{site.url}}/assets/img/work/{{ page.content_template }}/flow1.jpg" 
         srcset="
         {{site.url}}/assets/img/work/{{ page.content_template }}/flow1.jpg 1x, 
         {{site.url}}/assets/img/work/{{ page.content_template }}/flow1@2x.jpg 2x
         "
         alt="wireframes">
      </figure>
   </div>

   <div class="the_content">
      <h3>Specifications</h3>
      <p>To pass the work to the development team was another challenge, wed a very tight timeline before the project ran out of money and might put at risk the entire project.</p>
      <p>I used Zepplin to create a direct line with the development team to inspect and download assets. But this project needed more. I create a cookbook on the form of seasons of a series to get a more visual statement to all the people involved, including non-techies. </p>
      <p>It works pretty well. We had to have an approved pdf at the start of every sprint and the developer.</p>
    
         <figure class="p-2">
            <img 
            src="{{site.url}}/assets/img/work/{{ page.content_template }}/spec1.jpg" 
            srcset="
            {{site.url}}/assets/img/work/{{ page.content_template }}/spec1.jpg 1x, 
            {{site.url}}/assets/img/work/{{ page.content_template }}/spec1@2x.jpg 2x
            "
            alt="Colors">
         </figure>
         <figure class="p-2">
            <img 
            src="{{site.url}}/assets/img/work/{{ page.content_template }}/spec2.jpg" 
            srcset="
            {{site.url}}/assets/img/work/{{ page.content_template }}/spec2.jpg 1x, 
            {{site.url}}/assets/img/work/{{ page.content_template }}/spec2@2x.jpg 2x
            "
            alt="Colors">
         </figure>
         <figure class="p-2">
            <img 
            src="{{site.url}}/assets/img/work/{{ page.content_template }}/spec3.jpg" 
            srcset="
            {{site.url}}/assets/img/work/{{ page.content_template }}/spec3.jpg 1x, 
            {{site.url}}/assets/img/work/{{ page.content_template }}/spec3@2x.jpg 2x
            "
            alt="Colors">
         </figure>
         <figure class="p-2">
            <img 
            src="{{site.url}}/assets/img/work/{{ page.content_template }}/spec4.jpg" 
            srcset="
            {{site.url}}/assets/img/work/{{ page.content_template }}/spec4.jpg 1x, 
            {{site.url}}/assets/img/work/{{ page.content_template }}/spec4@2x.jpg 2x
            "
            alt="Colors">
         </figure>
   </div>

   <div class="the_content">
      <h3>Final application</h3>
      <p>The looks of the print version inspired the final design of the application. I inset the grey lines dividing the cards, remove any shadow in the cards, try to replicate the symmetry in the relation of the title and the text, using the same color scheme, and try to the same dynamics in all the Público sub-brands.</p>
      <p>We created an experience that brings the latest news with a feed always changing mixed with a more long-form call to read. We also brought a lot more attention to the podcast section and the subscriber's area, which would push the subscriptions.</p>
   

      <h4>Main news feed</h4>
      <div class="d-flex flex-column flex-sm-row w-100">
         <figure class="p-2 w-100">
            <img 
            src="{{site.url}}/assets/img/work/{{ page.content_template }}/screens/home1.jpg" 
            srcset="
            {{site.url}}/assets/img/work/{{ page.content_template }}/screens/home1.jpg 1x, 
            {{site.url}}/assets/img/work/{{ page.content_template }}/screens/home1@2x.jpg 2x
            "
            alt="Final screens publico app">
         </figure>
         <figure class="p-2 w-100">
            <img 
            src="{{site.url}}/assets/img/work/{{ page.content_template }}/screens/ultimas.jpg" 
            srcset="
            {{site.url}}/assets/img/work/{{ page.content_template }}/screens/ultimas.jpg 1x, 
            {{site.url}}/assets/img/work/{{ page.content_template }}/screens/ultimas@2x.jpg 2x
            "
            alt="Final screens publico app">
         </figure>

         <figure class="p-2 w-100">
            <img 
            src="{{site.url}}/assets/img/work/{{ page.content_template }}/screens/opiniao.jpg" 
            srcset="
            {{site.url}}/assets/img/work/{{ page.content_template }}/screens/opiniao.jpg 1x, 
            {{site.url}}/assets/img/work/{{ page.content_template }}/screens/opiniao@2x.jpg 2x
            "
            alt="Final screens publico app">
         </figure>
      </div>
      <div class="d-flex flex-column flex-sm-row w-100">
         <figure class="p-2 w-100">
            <img 
            src="{{site.url}}/assets/img/work/{{ page.content_template }}/screens/homeipad.jpg" 
            srcset="
            {{site.url}}/assets/img/work/{{ page.content_template }}/screens/homeipad.jpg 1x, 
            {{site.url}}/assets/img/work/{{ page.content_template }}/screens/homeipad@2x.jpg 2x
            "
            alt="Final screens publico app">
         </figure>
      </div>

   </div>


   <div class="the_content">
        <h4 class="text-left">Article screens</h4>
   </div>
   <div class="d-flex flex-row w-100 flex-wrap flex-sm-nowrap">
      <figure class="p-2 w-50">
         <img 
         src="{{site.url}}/assets/img/work/{{ page.content_template }}/screens/artigo.jpg" 
         srcset="
         {{site.url}}/assets/img/work/{{ page.content_template }}/screens/artigo.jpg 1x, 
         {{site.url}}/assets/img/work/{{ page.content_template }}/screens/artigo@2x.jpg 2x
         "
         alt="Final screens publico app">
      </figure>
      <figure class="p-2 w-50">
         <img 
         src="{{site.url}}/assets/img/work/{{ page.content_template }}/screens/artigo_opiniao.jpg" 
         srcset="
         {{site.url}}/assets/img/work/{{ page.content_template }}/screens/artigo_opiniao.jpg 1x, 
         {{site.url}}/assets/img/work/{{ page.content_template }}/screens/artigo_opiniao@2x.jpg 2x
         "
         alt="Final screens publico app">
      </figure>

      <figure class="p-2 w-50">
         <img 
         src="{{site.url}}/assets/img/work/{{ page.content_template }}/screens/artigo_especial.jpg" 
         srcset="
         {{site.url}}/assets/img/work/{{ page.content_template }}/screens/artigo_especial.jpg 1x, 
         {{site.url}}/assets/img/work/{{ page.content_template }}/screens/artigo_especial@2x.jpg 2x
         "
         alt="Final screens publico app">
      </figure>
      <figure class="p-2 w-50">
         <img 
         src="{{site.url}}/assets/img/work/{{ page.content_template }}/screens/artigo_foto.jpg" 
         srcset="
         {{site.url}}/assets/img/work/{{ page.content_template }}/screens/artigo_foto.jpg 1x, 
         {{site.url}}/assets/img/work/{{ page.content_template }}/screens/artigo_foto@2x.jpg 2x
         "
         alt="Final screens publico app">
      </figure>
      <figure class="p-2 w-50 d-none d-sm-block">
         <img 
         src="{{site.url}}/assets/img/work/{{ page.content_template }}/screens/artigo_video.jpg" 
         srcset="
         {{site.url}}/assets/img/work/{{ page.content_template }}/screens/artigo_video.jpg 1x, 
         {{site.url}}/assets/img/work/{{ page.content_template }}/screens/artigo_video@2x.jpg 2x
         "
         alt="Final screens publico app">
      </figure>
   </div>




