

   <div class="the_content top_head d-flex flex-column flex-sm-row">


      <div class="pt-5"> 
         <p class="main_p">In 2020, I came across a Portuguese project named <a href="https://www.trojan-unicorn.com">Trojan Was Unicorn (THU)</a> and accepted the challenge of creating its digital community version.</p>
         <p class="main_p">THU is a distinctive global community of artists and creators that began as a small group gathering for an IRL event 15 years ago and has since become a reference point in the digital entertainment industry.</p>
      </div>
      
   </div>

   <div class="the_content">
      <h3>The challenge</h3>
      <p>Develop an online application that will serve as the foundation for engaging and growing a community centered around an annual in-person event. </p>
      <p>We conducted a series of workshops and brainstorming sessions, which led to the following main points:</p>
      <ul>
         <li>THU is a dynamic and vibrant community; our online presence should reflect this.</li>
         <li>We aim to expand our initiatives to include online-only events, particularly in response to the COVID-19 pandemic.</li>
         <li>The application will serve as the community's central hub and help attract more members.</li>
         <li>The final user experience (UX) should incorporate these key ideas and be creative, bold, and unique.</li>
      </ul>
      <figure class="p-2 w-100">
             <img loading="lazy" 
                  src="/assets/img/work/{{ page.content_template }}/thu1.jpg" 
                  srcset="/assets/img/work/{{ page.content_template }}/thu1.jpg 1x, 
                         /assets/img/work/{{ page.content_template }}/thu1@2x.jpg 2x"
                  alt="THU Concept">
         </figure>
         
      
   </div>

   <div class="the_content">
      <h3>The information architecture</h3>
      <p>We tried and tested various options, and it was clear that we needed to create pages to drive attention to each area.</p>
      <figure class="p-2 w-100">
         <img loading="lazy" 
              src="/assets/img/work/{{ page.content_template }}/Site_map.jpg" 
              srcset="/assets/img/work/{{ page.content_template }}/Site_map.jpg 1x, 
                     /assets/img/work/{{ page.content_template }}/Site_map@2x.jpg 2x"
              alt="THU website site map">
     </figure>
     <figure class="p-2 w-100">
      <img loading="lazy" 
           src="/assets/img/work/{{ page.content_template }}/sitemap2.jpg" 
           srcset="/assets/img/work/{{ page.content_template }}/sitemap2.jpg 1x, 
                  /assets/img/work/{{ page.content_template }}/sitemap2@2x.jpg 2x"
           alt="THU website site map">
  </figure>
   </div>

   <div class="the_content">
      <h3>The wireframes</h3>
      <p>We create various variations during the process to create a dynamic and engaging navigation.</p>
      <p>These wireframes are just a sample of all the variations we did</p>
      <figure class="p-2 w-100">
         <img loading="lazy" 
              src="/assets/img/work/{{ page.content_template }}/wireframes1.jpg" 
              srcset="/assets/img/work/{{ page.content_template }}/wireframes1.jpg 1x, 
                     /assets/img/work/{{ page.content_template }}/wireframes1@2x.jpg 2x"
              alt="THU website wireframe">
     </figure>
     <figure class="p-2 w-100">
      <img loading="lazy" 
           src="/assets/img/work/{{ page.content_template }}/wireframes2.jpg" 
           srcset="/assets/img/work/{{ page.content_template }}/wireframes2.jpg 1x, 
                  /assets/img/work/{{ page.content_template }}/wireframes2@2x.jpg 2x"
           alt="THU website wireframe">
  </figure>
   </div>

   <div class="the_content">
      <h3>The design system</h3>
      <p>We developed a design system to guide all the pages to ensure consistency in the dynamic approach.</p>
      <p>This design system was created as a guide, not a set of mandatory rules; we wanted to challenge ourselves on the various pages we needed to develop for the different initiatives. </p>
      <figure class="p-2 w-100">
         <img loading="lazy" 
              src="/assets/img/work/{{ page.content_template }}/thuds1.jpg" 
              srcset="/assets/img/work/{{ page.content_template }}/thuds1.jpg 1x, 
                     /assets/img/work/{{ page.content_template }}/thuds1@2x.jpg 2x"
              alt="THU website design system">
     </figure>
     <figure class="p-2 w-100">
      <img loading="lazy" 
           src="/assets/img/work/{{ page.content_template }}/thuds2.jpg" 
           srcset="/assets/img/work/{{ page.content_template }}/thuds2.jpg 1x, 
                  /assets/img/work/{{ page.content_template }}/thuds2@2x.jpg 2x"
           alt="THU website design system">
  </figure>
   </div>
   <div class="the_content">
      <h3>The main website</h3>
      <p>In the end we created a main website that is the central hub for the community and the place to be for all the community news and events sub pages</p>
      <p>The overall UX was achived but creating a base design system that would extend to all subpages and even create variations on top of it</p>
      <figure class="p-2 w-100">
         <img loading="lazy" 
              src="/assets/img/work/{{ page.content_template }}/homepage.jpg" 
              srcset="/assets/img/work/{{ page.content_template }}/homepage.jpg 1x, 
                     /assets/img/work/{{ page.content_template }}/homepage@2x.jpg 2x"
              alt="THU website">
     </figure>
   </div>
   <div class="the_content">
      <h3>The blog pages</h3>
      <p>the main channel for communication with the brother audience was the blog.</p>
      <figure class="p-2 w-100">
         <img loading="lazy" 
              src="/assets/img/work/{{ page.content_template }}/blog.png" 
              srcset="/assets/img/work/{{ page.content_template }}/blog.png 1x, 
                     /assets/img/work/{{ page.content_template }}/blog@2x.png 2x"
              alt="THU website blog">
     </figure>
   </div>
   <div class="the_content">
      <h3>The event variations</h3>
      <p>The fun part was to create all these pages that recreate the look and feel of each event.</p>
   </div>
   <div class="d-flex flex-row w-100 flex-wrap flex-sm-nowrap">
      <figure class="p-2 w-50">
         <img loading="lazy" 
         src="/assets/img/work/{{ page.content_template }}/events/Main.jpg" 
         srcset="/assets/img/work/{{ page.content_template }}/events/Main.jpg 1x, 
         /assets/img/work/{{ page.content_template }}/events/Main@2x.jpg 2x"
         alt="THU event - Main">
      </figure>
      <figure class="p-2 w-50">
         <img loading="lazy" 
         src="/assets/img/work/{{ page.content_template }}/events/THU_Portugal.jpg" 
         srcset="/assets/img/work/{{ page.content_template }}/events/THU_Portugal.jpg 1x, 
         /assets/img/work/{{ page.content_template }}/events/THU_Portugal@2x.jpg 2x"
         alt="THU event - Portugal">
      </figure>
      <figure class="p-2 w-50">
         <img loading="lazy" 
         src="/assets/img/work/{{ page.content_template }}/events/THU_Japan.jpg" 
         srcset="/assets/img/work/{{ page.content_template }}/events/THU_Japan.jpg 1x, 
         /assets/img/work/{{ page.content_template }}/events/THU_Japan@2x.jpg 2x"
         alt="THU Japan">
      </figure>
      <figure class="p-2 w-50">
         <img loading="lazy" 
         src="/assets/img/work/{{ page.content_template }}/events/Career_Camp.jpg" 
         srcset="/assets/img/work/{{ page.content_template }}/events/Career_Camp.jpg 1x, 
         /assets/img/work/{{ page.content_template }}/events/Career_Camp@2x.jpg 2x"
         alt="Career Camp">
      </figure>
      <figure class="p-2 w-50">
         <img loading="lazy" 
         src="/assets/img/work/{{ page.content_template }}/events/STL.jpg" 
         srcset="/assets/img/work/{{ page.content_template }}/events/STL.jpg 1x, 
         /assets/img/work/{{ page.content_template }}/events/STL@2x.jpg 2x"
         alt="Sony Talent League">
      </figure>
      <figure class="p-2 w-50">
         <img loading="lazy" 
         src="/assets/img/work/{{ page.content_template }}/events/Golden_Ticket.jpg" 
         srcset="/assets/img/work/{{ page.content_template }}/events/Golden_Ticket.jpg 1x, 
         /assets/img/work/{{ page.content_template }}/events/Golden_Ticket@2x.jpg 2x"
         alt="Golden Ticket">
      </figure>
   </div>

   <div class="the_content">
      <h3>Edit profile</h3>
      <p>The edit profile page was a fun page to create. we wanted to create a page that was easy to use and that was fun to use.</p>
      <figure class="p-2 w-100">
         <img loading="lazy" 
              src="/assets/img/work/{{ page.content_template }}/dashboard.png" 
              srcset="/assets/img/work/{{ page.content_template }}/dashboard.png 1x, 
                     /assets/img/work/{{ page.content_template }}/dashboard@2x.png 2x"
              alt="THU website dashboard">
     </figure>

   </div>




   <div class="the_content">
      <h3>The 2022 main event website</h3>
      <p>I know that the IRL mains event is the most important event for the comunnity and we need to test our design system applied to the main event variation.</p>
      <p>the end global was to create a full web and app experience that was the </p>
      <figure class="p-2 w-100">
         <img loading="lazy" 
              src="/assets/img/work/{{ page.content_template }}/main_event.png" 
              srcset="/assets/img/work/{{ page.content_template }}/main_event.png 1x, 
                     /assets/img/work/{{ page.content_template }}/main_event@2x.png 2x"
              alt="THU website main event">
     </figure>
   </div>



   <div class="the_content">
      <h3>The 2022 main event app</h3>
      <p>To help the event we build a companion app that as inpired from the event look and feel. we build with react native and target the Ios android operating system</p>
   </div>
   <div class="d-flex flex-row w-100 flex-wrap flex-sm-nowrap">
      <figure class="p-2 w-50">
         <img loading="lazy" 
         src="/assets/img/work/{{ page.content_template }}/app/app1.jpg" 
         srcset="/assets/img/work/{{ page.content_template }}/app/app1.jpg 1x, 
         /assets/img/work/{{ page.content_template }}/app/app1@2x.jpg 2x"
         alt="THU event - Main">
      </figure>
      <figure class="p-2 w-50">
         <img loading="lazy" 
         src="/assets/img/work/{{ page.content_template }}/app/app2.jpg" 
         srcset="/assets/img/work/{{ page.content_template }}/app/app2.jpg 1x, 
         /assets/img/work/{{ page.content_template }}/app/app2@2x.jpg 2x"
         alt="THU event - Main">
      </figure>
      <figure class="p-2 w-50">
         <img loading="lazy" 
         src="/assets/img/work/{{ page.content_template }}/app/app3.jpg" 
         srcset="/assets/img/work/{{ page.content_template }}/app/app3.jpg 1x, 
         /assets/img/work/{{ page.content_template }}/app/app3@2x.jpg 2x"
         alt="THU event - Main">
      </figure>
      <figure class="p-2 w-50">
         <img loading="lazy" 
         src="/assets/img/work/{{ page.content_template }}/app/app4.jpg" 
         srcset="/assets/img/work/{{ page.content_template }}/app/app4.jpg 1x, 
         /assets/img/work/{{ page.content_template }}/app/app4@2x.jpg 2x"
         alt="THU event - Main">
      </figure>
   </div>
   <div class="d-flex flex-row w-100 flex-wrap flex-sm-nowrap">
      <figure class="p-2 w-50">
         <img loading="lazy" 
         src="/assets/img/work/{{ page.content_template }}/app/app5.jpg" 
         srcset="/assets/img/work/{{ page.content_template }}/app/app5.jpg 1x, 
         /assets/img/work/{{ page.content_template }}/app/app5@2x.jpg 2x"
         alt="THU event - Main">
      </figure>
      <figure class="p-2 w-50">
         <img loading="lazy" 
         src="/assets/img/work/{{ page.content_template }}/app/app6.jpg" 
         srcset="/assets/img/work/{{ page.content_template }}/app/app6.jpg 1x, 
         /assets/img/work/{{ page.content_template }}/app/app6@2x.jpg 2x"
         alt="THU event - Main">
      </figure>
      <figure class="p-2 w-50">
         <img loading="lazy" 
         src="/assets/img/work/{{ page.content_template }}/app/app7.jpg" 
         srcset="/assets/img/work/{{ page.content_template }}/app/app7.jpg 1x, 
         /assets/img/work/{{ page.content_template }}/app/app7@2x.jpg 2x"
         alt="THU event - Main">
      </figure>
      <figure class="p-2 w-50">
         <img loading="lazy" 
         src="/assets/img/work/{{ page.content_template }}/app/app8.jpg" 
         srcset="/assets/img/work/{{ page.content_template }}/app/app8.jpg 1x, 
         /assets/img/work/{{ page.content_template }}/app/app8@2x.jpg 2x"
         alt="THU event - Main">
      </figure>
   </div>


   
  
  





 
</div>










