
.clean_homepage, .new_hompage{
   
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    text-align: center;
    color: #fff;
}

.home{
    .outline{
        padding: 0 $a-padding 0 $a-padding;
      }
      main{
          padding: 0;
      }
    .logo{
       svg{
           path{
             stroke:#fff;
            
           }
         }
         a:hover{
           svg{
             path{ stroke:$brand-color;
               
             }
           }
         }
       }
}



.my_home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: flex-end ;
    text-align: right;
    height: 100vh;
    background-color: $strong-color;
    background-image: url(../../assets/img/me.jpg);
    background-size: auto 70% ;
    background-repeat: no-repeat;
    background-position: 0 bottom;
    @include sm{
        background-position: 0 0;
        background-size: auto 100% ;
    }
    div{
        max-width: 290px;
        padding: $a-padding;

    }
    nav{
        a, li{
            color: $brand-color;
            font-family: $h-font;
            border: none;
            font-size: 3rem;
            line-height: 3.2rem;
            @include sm {
                font-size: 5rem;
                line-height: 4.5rem;
            }
        }
        a:hover{
            text-decoration: none;
            border: none;
            color: #fff;
        }
    }
    h2{
        color: #fff;
        font-size: 0.8rem;
        line-height: 1.2rem;
        @include sm {
            font-size: 1rem;
            line-height: 1.5rem;
        }
        span{
            display: block;
        }
        b{
            display: block;
            margin-bottom: 10px;
        }
    }
}
  