

.portfolio_top_page{
    max-width: 800px;
    margin: 1rem auto;
    padding: 0 50px;
    @include sm{
        padding: 0 100px;
    }
    h2{
        font-family: $h-font;
        color: $brand-color;
        font-size: 5rem;
        margin-bottom: 0;
       white-space: pre-line;
        padding-bottom: 1rem;
        width: 200px;
        @include sm{
            font-size: 5rem;
            margin-left: -100px;
            width: 300px;
        }
        @include lg{
            font-size: 7rem;
        }
    }
    p{
        font-size: 1.3rem;
        margin: 0;
    }
    em{
        text-align: center;
        font-size: 0.8rem;
    }
}

.work_list{
   max-width: 1200px;
   position: relative;
   margin: 0 auto 8rem;
    ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
  

        li{
            margin: $c-padding 0;
            position: relative;
            
            a{
                transition: all 0.5s ease-in-out;
                border: none;

                        
                &:hover{
                    border: none;
                    text-decoration: none;
                    transition: all 0.5s ease-in-out;
                }
                h4{
                    font-family: $h-font;
                    font-size: 3rem;
                    position: relative;
                    z-index: 2;
                    @include sm {
                        font-size: 4rem;
                    }
                }
                time{
                    padding: 0;
                    font-weight: bold;
                    position: relative;
                    z-index: 2;
                }
                figure{
                    position: absolute;
                    z-index: 1;
                    
                }
            }  
            
            &.proj1{
                max-width: 500px;
                height: 390px;
                @include xs {
                    height: 200px;
                }
                figure{
                    width: 200px;
                    height: 300px;
                    top: 0;
                    right: -100px;
                    @include xs {
                        width: 100px;
                        height: 200px;
                        right: -30px;
                    }
                }
            }
            &.proj2{
                max-width: 400px;
                height: 150px;
                align-self: start;
                left: 40px;
                @include xs {
                    height: 150px;
                }
                h4{
                    @include xs {
                        max-width: 40px;
                    }
                }
                figure{
                    width: 200px;
                    height: 200px;
                    top: -110px;
                    left: 280px;
                    @include xs {
                        width: 100px;
                        height: 100px;
                        left: 80px;
                        top: -40px;
                    }
                }
            }
            &.proj3{
                max-width: 400px;
                height: 350px;
                align-self: flex-end;
                left: -80px;
                @include xs {
                    height: 170px;
                    align-self: flex-start;
                    left: 80px;
                }
                h4{
                    @include xs {
                        max-width: 40px;
                    }
                }
                figure{
                    width: 280px;
                    height: 200px;
                    top: 120px;
                    left: -240px;
                    @include xs {
                        width: 170px;
                    height: 200px;
                    top: 20px;
                    left: -150px;
                    }
                }
            }
            &.proj4{
                max-width: 400px;
                height: 200px;
                align-self: start;
                left: 40px;
                @include xs {
                    height: 200px;
                }
                h4{
                    @include xs {
                        max-width: 40px;
                    }
                }
                figure{
                    width: 480px;
                    height: 200px;
                    top: 20px;
                    left: 190px;
                    @include xs {
                        width: 310px;
                        height: 200px;
                        left: 80px;
                        top: 40px;
                    }
                }
            }
        }
    }
    
}




//paralax

