.proj_navigation{
    display: flex;
    z-index: 100;
    position: fixed;
    top: 50%;
    right: 6px;
    justify-content: center;
    .nagigation_holder{
        display: flex;
        padding: 0;
       flex-direction: column;
        border-radius: 5000px;
        margin-bottom: 10px;
    }
    a, a:hover{
        display: block;
        width: 34px;
        height: 34px;
        border: none;
        border-radius: 0;
        background-color: #fff;
        margin: 6px;
        transition: all 0.5s ease-in-out;
        display: flex;
        justify-content: center;
        align-items: center;
        svg{
            stroke: $brand-color;
            width: 24px;
            height: 9px;
            
            top: 14px;
            transition: all 0.3s ease-in-out;
        }
        &:nth-child(2){
            svg{
                top: 22px;
            }
        }
        &.noway{
            background-color: $body-bg-color;
            box-shadow: inset 0px 0px 0 1px #fff;
            opacity: 0.7;
            svg{
                stroke: #fff; 
            }
        }
    }
    a:hover{
        background-color: $brand-color;
        transition: all 0.5s ease-in-out;
        svg{
            transition: all 0.3s ease-in-out;
            stroke: #fff;
            
        }
    }
}


.portfolio{
    .top_image_container{
        position: absolute;
        right: 0;
        top: 0;
        width: 50%;
        z-index: 1;
    }
    .top_head_text{
        padding: $b-padding;
        @include md{
            padding: $c-padding;
        }
        z-index: 6;
        position: relative;
    }
    .head{
        max-width: 1200px;
        margin: 0 auto;
        h2{
            color: $brand-color;
            font-size: 4rem;
            font-family: $h-font;
            position: relative;
            padding-left: $b-padding;
            @include sm{
                font-size: 5rem;
            }
            @include md{
                font-size: 6rem;
                line-height: 6rem;
            }
            time{
                position: absolute;
                left: -$b-padding;
                top: 7px;
                transform: rotate(-90deg);
                font-size: 1.5rem;
                
                @include sm{
                    top: 14px;
                }
    
            }
        }

    }
    .proj_details{
        max-width: 400px;
        h5{
            font-size: 0.9rem;
            margin: 0;
            padding: 0 0 $a-padding 0;
            span{
                display: block;
                text-transform: uppercase;
                font-weight: bold;
                color: $brand-color;
                font-family: 'silkabold';
                
            }
        }
    }

    .body, .inside_section{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding-top: 5rem;
        h3{
            font-family: 'silkabold';
            font-size: 1.5rem;
            margin-bottom: 0;
            margin-top: 5rem;
            padding-bottom: 1rem;
            @include sm{
                font-size: 3rem;
            }
            @include lg{
                font-size: 4rem;
            }
        }
        h4{
            color: $brand-color;
            padding: 0;
            margin: 2rem 0 0 0;
        }
        p{
            margin-bottom: 0;
            padding-bottom: 10px;
            font-size: 1.1rem;
        }
        .main_p{
            font-size: 1.3rem;
            margin-bottom: 1rem;
        }
        figure{
            margin: 0;
            padding: 0;
        }
    }
}

.figcaption, figcaption{
    font-style: italic;
    font-size: 0.8rem;
    text-align: center;
}




.the_content{
    max-width: 800px;
}
.inside_section{
    display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding-top: 5rem;
}
.image_section{
    display: flex;
    .sameline{
        
    }
} 





.publico{
    .body{
        padding-top: 1rem;
    }
    .head h2{
        max-width: 600px;
    }
    .top_image_container{
        right: -180px;
        top: 50px;
        width: 70%;
        max-height: 400px;
        overflow: hidden;
        @include xs{
            right: -80px;
            width: 50%;

        }
    }

    .video{
        width: 319px;
        height: 632px;
        display: block;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        &::after{
            content: "";
            display: block;
            position: absolute;
            width: 319px;
            height: 632px;
            top: 0;
            left: 0;
            background-image: url(/assets/img/work/publico/iPhone.png);
            background-repeat: no-repeat;

            
        }
    }
    
}


.brpx{

    .body{
        padding-top: 1rem;
    }
    .head h2{
        max-width: 600px;
    }
    .top_image_container{
        right: -65px;
        top: 70px;
        width: 50%;
        max-height: 450px;
        overflow: hidden;
        
    }
}


.opp{
    .head h2{
        max-width: 600px;
        mix-blend-mode: multiply;
    }
    .top_image_container{
        right: -500px;
        top: 70px;
        width: 80%;
        max-height: 510px;
        overflow: hidden;
    }
}

.meocloud{
    .top_image_container{
        right: -50px;
        top: 70px;
        width: 70%;
        max-height: 400px;
        overflow: hidden;
    }
}