@charset "utf-8";

@import
  "partials/fonts",
  "partials/variables",
  "partials/mixins",
  "partials/normalize",
  "partials/utilities",
  "partials/typography",
  "partials/app"
;


.clean_homepage{
  background: #2DAD6F;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;



  svg{
    width: 100%;
    fill: none;
    stroke: #fff;
    stroke-width: 3rem;
  }
}
