@charset "utf-8";

@import
  "partials/fonts",
  "partials/variables",
  "partials/mixins",
  "partials/normalize",
  "partials/utilities",
  "partials/typography",
  // "partials/app",
  "partials/home"
;

.outline{
  padding: 0 $a-padding 0 $a-padding;
  margin: $a-padding 0 0 0;
  position: fixed;
  height: 100vh;
  width: 100%;
  overflow: auto;
  overflow-x: hidden;
  &::after{
    content: "";
    display: block;
    height: $a-padding;
    background: #fff;
    width: 100%;
    position: fixed;
    bottom: 0;
  }
  
}

 .logo{
   position: fixed;
   right: 2rem;
   bottom: 2rem;
   width: 100px;
   height: 40px;
   a:hover, a{
    text-decoration: none;
    border-bottom: none;
    transition: all 1s ease-out;
   }


  svg{
    width: 100%;
    fill: none;
    stroke-dasharray: 4200;
    stroke-dashoffset: -4200;
    stroke-linejoin: round;
    animation: dash 2s ease-out forwards;
      path{
        stroke:#fff;
        transition: stroke .3s ease-out;
      }
    }
  a:hover{
    svg{
      path{ stroke:$brand-color;
        transition: stroke .3s ease-out;
      }
    }
  }
  }
  



  @keyframes dash {
  to { stroke-dashoffset: 0;}
 }

