@charset "utf-8";

@import
  "partials/fonts",
  "partials/variables",
  "partials/mixins",
  "partials/normalize",
  "partials/utilities",
  "partials/typography",
  // "partials/app",
  "partials/home"
;


 .logo{
   position: fixed;
   right: 2rem;
   bottom: 2rem;
   width: 100px;
   height: 40px;
  svg{
    width: 100%;
    fill: none;
    stroke-dasharray: 4200;
    stroke-dashoffset: -4200;
    stroke-linejoin: round;
    animation: dash 2s ease-out forwards;
    }
  }
  
  @keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
 }

