---
layout: default
---


<div class="contact-page">
    <h2>{{ page.title }}</h2>
    <div>
        {% include page-intro.html %}
        {{ content }}
    </div>
    <div class="social_links">
        <ul>
            <li><a href="mailto:mail@nloureiro.com">Email</a></li>
            <li><a href="https://twitter.com/nloureiro">Twitter</a></li>
            <li><a href="https://github.com/nloureiro">Github</a></li>
            <li><a href="https://www.linkedin.com/in/nloureiro/">Linkedin</a></li>
            <li><a href="https://www.pinterest.pt/nloureiro/">Pinterest</a></li>
            <li><a href="https://vsco.co/nloureiro/gallery">Vsco</a></li>
            <!-- <li><a href="https://ello.co/nloureiro">Ello</a></li> -->
        </ul>
    </div>
</div>


{% comment %}
{% include contact-form.html %}
{% endcomment %}







