---
layout: default
---


<section class="clean_homepage">
  <h1>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2222.6 620.86">
      <path class="cls-1" stroke="#fff" stroke-width="4rem" d="M1724.86,173A259.92,259.92,0,0,1,1932.2,70.07c143.81,0,260.4,116.59,260.4,260.4S2076,590.86,1932.2,590.86,1691.28,469,1671.81,329.68c-64.07-428.87-382.15-344.95-477.29-75.91-140.87,398.34-490.25,445.64-560.35,50.86C574.69-30.32,339.91-100.76,30,514.37"/></svg>
  </h1>
</section>










{% comment %}
<h2>{{ page.title }}</h2>

  {% include page-intro.html %}


  {{ content }}



  <section>

    <h3>Recent posts from the blog</h3>

    <ul>
      {% for post in site.posts limit:3 %}
        <li>
          <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
      {% endfor %}
    </ul>

  </section>
  {% endcomment %}
