---
layout: default
---

<h2 style="display: none;">{{ page.title }}</h2>

{% include page-intro.html %}

{{ content }}

<section class="work_list">
  <ul>
      <li>
        <a href="/portfolio/publico" class="work_list_container">
          <time>2019</time>
          <h4>publico app</h4>
          <figure style="width: 400px; height: 300px; background-color: red;"></figure>
        </a>
      </li>
      <li>
        <a href="/portfolio/publico" class="work_list_container">
          <time>2019</time>
          <h4>publico app</h4>
          <figure style="width: 400px; height: 300px; background-color: red;"></figure>
        </a>
      </li>
      <li>
        <a href="/portfolio/publico" class="work_list_container">
          <time>2019</time>
          <h4>publico app</h4>
          <figure style="width: 400px; height: 300px; background-color: red;"></figure>
        </a>
      </li>
  </ul>
</section>
