---
layout: default
---




<div class="portfolio_top_page">
  <h2 >{{ page.title }}</h2>
  {% include page-intro.html %}
  {{ content }}
</div>


<section class="work_list">
  <ul>
      <li class="proj1">
        <a href="/portfolio/publico" class="work_list_container">
          <time>2019</time>
          <h4>Público Mobile Applications</h4>
          <figure>
            <img 
            src="{{site.url}}/assets/img/work/publico/listimage.png" 
            srcset="
            {{site.url}}/assets/img/work/publico/listimage.png 1x, 
            {{site.url}}/assets/img/work/publico/listimage@2x.png 2x
            "
            alt="Público Mobile Applications">
         </figure>
        </a>
      </li>
      <li class="proj2">
        <a href="/portfolio/brpx" class="work_list_container">
          <time>2016_2019</time>
          <h4>Bright Pixel system</h4>
          <figure>
            <img 
            src="{{site.url}}/assets/img/work/brpx/listimage.png" 
            srcset="
            {{site.url}}/assets/img/work/brpx/listimage.png 1x, 
            {{site.url}}/assets/img/work/brpx/listimage@2x.png 2x
            "
            alt="Bright Pixel system">
         </figure>
        </a>
      </li>
      <li class="proj3">
        <a href="/portfolio/opp" class="work_list_container">
          <time>2018</time>
          <h4>Portugal Participatory Budget</h4>
          <figure>
            <img 
            src="{{site.url}}/assets/img/work/opp/listimage.png" 
            srcset="
            {{site.url}}/assets/img/work/opp/listimage.png 1x, 
            {{site.url}}/assets/img/work/opp/listimage@2x.png 2x
            "
            alt="Portugal Participatory Budget">
         </figure>
        </a>
      </li>
      <li class="proj4">
        <a href="/portfolio/meocloud" class="work_list_container">
          <time>2018</time>
          <h4>MEO cloud</h4>
          <figure>
            <img 
            src="{{site.url}}/assets/img/work/meocloud/listimage.jpg" 
            srcset="
            {{site.url}}/assets/img/work/meocloud/listimage.jpg 1x, 
            {{site.url}}/assets/img/work/meocloud/listimage@2x.jpg 2x
            "
            alt="Portugal Participatory Budget">
         </figure>
        </a>
      </li>
  </ul>
  <p class="the_end_p">I will add new and older projects in the days to come. Stay tuned.</p>
</section>
