---
layout: default
---

<h2 style="display: none;">{{ page.title }}</h2>

{% include page-intro.html %}

{{ content }}

<section class="work_list">
  <ul>
      <li class="proj1">
        <a href="/portfolio/publico" class="work_list_container">
          <time>2019</time>
          <h4>publico app</h4>
          <figure></figure>
        </a>
      </li>
      <li class="proj2">
        <a href="/portfolio/publico" class="work_list_container">
          <time>2019</time>
          <h4>orçamento participativo de portugal</h4>
          <figure ></figure>
        </a>
      </li>
      <li class="proj3">
        <a href="/portfolio/publico" class="work_list_container">
          <time>2019</time>
          <h4>publico app</h4>
          <figure ></figure>
        </a>
      </li>
  </ul>
</section>
